.mdl-card__actions {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	position: absolute;
	bottom: 0px;
}

.mdl-card {
	padding-bottom: 50px;
}

.mdl-radio {
	margin: 0 1em;
}

.icon {
	margin-right: 0.5em;
}

.esw-app {
	max-width: 900px;
	margin: 0 auto;
}

.esw-full-width {
	width: 100%;
}

.esw-button-strip button {
	margin-bottom: 0.5em;
}

#qrcode {
	float: left;
	width: 200px;
	margin-right: 1em;
	margin-bottom: 1em;
}